@import './globalStyles.scss';

.app{
    @include flex(row);
    @include aligin_content(center, center);
    background-color: $primaryColor;
    &:hover{
        background-color: aquamarine;
    }
}

.extending_func{
    @extend .app;
    background-color: blueviolet;
}